<% layout('/layouts/default.html', {title: '门店信息管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('门店信息管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="#" class="btn btn-default" id="btnRefreshTree" title="${text('刷新')}"><i class="fa fa-refresh"></i> ${text('刷新')}</a>
				<a href="#" class="btn btn-default" id="btnExpandTreeNode" title="${text('展开一级')}"><i class="fa fa-angle-double-down"></i> ${text('展开')}</a>
				<a href="#" class="btn btn-default" id="btnCollapseTreeNode" title="${text('折叠全部')}"><i class="fa fa-angle-double-up"></i> ${text('折叠')}</a>
				<% if(hasPermi('mallshop:mallShop:edit')){ %>
					<a href="${ctx}/mallshop/mallShop/form" class="btn btn-default btnTool" title="${text('新增门店信息')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${mallShop}" action="${ctx}/mallshop/mallShop/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('门店名称')}：</label>
					<div class="control-inline">
						<#form:input path="treeName" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('联系电话')}：</label>
					<div class="control-inline">
						<#form:input path="phone" maxlength="25" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('门店经理')}：</label>
					<div class="control-inline">
						<#form:input path="userName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				
				 <div class="form-group">
                    <label class="control-label">${text('业务员')}：</label>
                    <div class="control-inline width-120">
                         <#form:select path="saleManId"  items="${sales}" blankOption="true"  itemLabel="name" itemValue="openId" class="form-control" />
                     </div>
                </div> 
                
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		//{header:'${text("门店名称")}', name:'treeName', index:'a.tree_name', width:250, align:"left", frozen:true, formatter: function(val, obj, row, act){
			//return '( '+row.treeCode+' ) '+'<a href="${ctx}/mallshop/mallShop/form?treeCode='+row.treeCode+'" class="btnList" data-title="${text("编辑门店信息")}">'+(val||row.id)+'</a>';
		//}},
		{header:'${text("门店名称")}', name:'treeName', index:'a.tree_name', width:150, align:"left"},
		{header:'${text("本级排序号")}', name:'treeSort', index:'a.tree_sort', width:150, align:"center"},
		//{header:'${text("经度")}', name:'latNum', index:'a.lat_num', width:150, align:"left"},
		//{header:'${text("纬度")}', name:'lonNum', index:'a.lon_num', width:150, align:"left"},
		//{header:'${text("登录密码")}', name:'passWord', index:'a.pass_word', width:150, align:"left"},
		{header:'${text("门店经理")}', name:'userName', index:'a.user_name', width:150, align:"left"},
		{header:'${text("联系电话")}', name:'phone', index:'a.phone', width:150, align:"left"},
		//{header:'${text("地址")}', name:'address', index:'a.address', width:150, align:"left"},
		//{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			//return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		//}},
		//{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("业务员")}', name:'saleManName', index:'a.saleManName', width:150, align:"left"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('mallshop:mallShop:edit')){ %>
				actions.push('<a href="${ctx}/mallshop/mallShop/form?treeCode='+row.treeCode+'" class="btnList" title="${text("编辑门店信息")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/mallshop/mallShop/delete?treeCode='+row.treeCode+'" class="btnList" title="${text("删除门店信息")}" data-confirm="${text("确认要删除该门店信息及所有子门店信息吗？")}" data-deltreenode="'+row.id+'"><i class="fa fa-trash-o"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/mallshop/mallShop/form?parentCode='+row.id+'" class="btnList" title="${text("新增下级门店信息")}"><i class="fa fa-plus-square"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	treeGrid: true,			// 启用树结构表格
	defaultExpandLevel: 0,	// 默认展开的层次
	expandNodeClearPostData: 'treeName,phone,userName,', // 展开节点清理请求参数数据（一般设置查询条件的字段属性，否则在查询后，不能展开子节点数据）	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>