<% layout('/layouts/default.html', {title: '商品信息管理', libs: ['validate','fileupload','ueditor']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(mallGood.isNewRecord ? '新增商品信息' : '编辑商品信息')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${mallGood}" action="${ctx}/mallgood/mallGood/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('商品简称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodName" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('商品全称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodFullName" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('产品类型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<!--<#form:select path="goodType" dictType="good_type" class="form-control required" />-->
								<#form:select path="goodType" items="${channel}"  itemLabel="name" itemValue="id" class="form-control required" /> 
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('按种植分类')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<!-- <#form:select path="goodPlantType" dictType="good_plant_type" class="form-control required" /> -->
								<#form:select path="goodPlantType" items="${plants}"  itemLabel="name" itemValue="id" class="form-control required" /> 
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('商品价格')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodPrice" class="form-control required number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('会员价格1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodPriceOne" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('会员价格2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodPriceTwo" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('是否新品')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="isNew" dictType="sys_yes_no" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('是否热销')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="isHot" dictType="sys_yes_no"  class="form-control required" />
							</div>
						</div>
					</div>
					<!-- <div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('生产厂家')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodManufacturers" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div> -->
					   <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4" title="">
                                <span class="required hide">*</span> ${text('上架日期')}：<i class="fa icon-question hide"></i></label>
                            <div class="col-sm-8">
                                <#form:input path="goodDate" readonly="true" maxlength="20" class="form-control Wdate"
                                    dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:true});"/>
                            </div>
                        </div>
                    </div>
				</div>
				<!-- 
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('商品品牌')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodBrand" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('商品重量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodWeight" class="form-control number"/>
							</div>
						</div>
					</div>
				</div> 
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('商品库存')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodInventory" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>-->
				
				<div class="row">
                  <div class="col-xs-12">
                      <div class="form-group">
                          <label class="control-label col-sm-2" title="">
                              <span class="required">*</span> ${text('配置零售店')}：<i class="fa icon-question hide"></i></label>
                          <div class="col-sm-10">
                              <#form:select path="saleFlag"  items="${shops}" blankOption="true"  multiple="true"  itemLabel="treeName" itemValue="treeCode" class="form-control required" />
                          </div>
                      </div>
                  </div>
             </div>
             
			<div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-sm-2" title="">
                                <span class="required hide">*</span> ${text('商品详情')}：<i class="fa icon-question hide"></i></label>
                            <div class="col-sm-10">
                                  <#form:ueditor path="goodDesc" maxlength="10000" height="200" 
                                    simpleToolbars="false" readonly="false" outline="false"/>
                            </div>
                        </div>
                    </div>
                </div>
                
				<div class="row" hidden="true" >
					 <div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('备用2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodExt2" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div> 
					
                    
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('备用3')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodExt3" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row" hidden="true">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('备用4')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodExt4" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">${text('图片上传')}：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadImage" bizKey="${mallGood.id}" bizType="mallGood_image"
									uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
                
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('mallgood:mallGood:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>